<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
    <link href="{{ url_for('static', filename='styles/view.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='styles/main.css') }}" rel="stylesheet" type="text/css"/>

    <script type="text/javascript" src="{{ url_for('static', filename='js/vendors/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/all_concepts.js') }}"></script>
</head>

<body>

    <!-- Navigation header bar starts -->

    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
        
            <div class="row row-eq-height no-padding">
                <div class="col-md-6 full-width">
                    <div class="concept-title-holder">
                        <a class="navbar-brand" rel="home" href="{{ url_for('all_concepts') }}">
                            <img class="logo"
                                 src="{{ url_for('static', filename='logo.png') }}">
                        </a>
                        <h2 class="current-concept-name">
                            Browsing Graph
                        </h2>
                    </div>
                </div>
                <div class="col-md-6 full-width">
                    <form class="navbar-form navbar-right search-holder" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <!-- Navigation header bar end -->

    <div class="text-align-left">
    
        {% for concept_data in data %}
            <div class="concept_container each-concept-holder" data-id="{{ concept_data['id'] }}">
                <h4>{{ concept_data['concept']['name'] }}</h4> 


                <div class="preview-link-container">
                    {% for node in concept_data['refined']['nodes'][7:10] %}
                        {% if node['id'] != 'chrome://newtab/' %}
                            <span>
                                <img width="124px" height="88px"
                                    src="{{ concept_data['original']['page_info'][node['id']]['image'] }}" />
                            </span>
                        {% endif %}
                    {% endfor %}
                </div>

            </div>
        {% endfor %}
    </div>

</body>
</html>