<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
	<link href="{{ url_for('static', filename='styles/vendors/vis.css') }}" rel="stylesheet" type="text/css"/>
	<link href="{{ url_for('static', filename='styles/view.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='styles/main.css') }}" rel="stylesheet" type="text/css"/>

	<script type="text/javascript" src="{{ url_for('static', filename='js/vendors/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/vendors/bootstrap.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/vendors/vis.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/lib.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/view_serverside.js') }}"></script>
</head>

<body>

	<input type="hidden" value="{{ original }}" id="data-original" />
	<input type="hidden" value="{{ refined }}" id="data-refined" />

	<!-- Navigation header bar starts -->

    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
        
            <div class="row row-eq-height no-padding">
                <div class="col-md-6 full-width">
                    <div class="concept-title-holder">
                        <a class="navbar-brand" rel="home" href="{{ url_for('all_concepts') }}">
                            <img class="logo"
                                 src="{{ url_for('static', filename='logo.png') }}">
                        </a>
                        <h2 class="current-concept-name">
                            Slimy Bitch
                        </h2>
                    </div>
                </div>
                <div class="col-md-6 full-width">
                    <form class="navbar-form navbar-right search-holder" role="search">
                        
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        
                        <span class="dropdown more-action-dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="more-action-menu" data-toggle="dropdown">
                                <img src="https://goo.gl/gVomoH">
                            </button>
                            
                            <ul class="dropdown-menu" role="menu" aria-labelledby="more-action-menu">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" id="new-bgraph" href="#">Settings</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" id="new-bgraph" href="{{ url_for('logout') }}">Log Out</a>
                                </li>
                            </ul>
                      </span>

                    </form>
                </div>
            </div>

        </div>
    </div>

    <!-- Navigation header bar end -->

    <!-- Main content starts -->

    <div class="container-fluid main-content-holder no-padding no-margin full-width">
        <div class="row">

            <!-- Main content left starts -->

            <div class="col-md-2">
                <div class="menu-container">
                    <ul class="vertical-navbar nav nav-pills nav-stacked">
                        <li>
                            <a class="active" href="{{ url_for('view', uid=data['id']) }}">
                                Browsing Graph
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('viewList', uid=data['id']) }}">
                                Resource List
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Main content left ends -->

            <!-- Main content mid starts -->
            
            <div class="col-md-7">
                <div id="network-graph" class="mid-content-holder">
                    
                </div>
            </div>

            <!-- Main content mid ends -->

            <!-- Main content right starts -->
            
            <div class="col-md-3">
                
                <div class="url-summary-holder">
                    <div id="no-summary-info-holder" class="alert alert-success">
                        Click on a node for summary
                    </div>

                    <table id="url-summary-table" class="full-width display-hide">
                        <tr>
                            <td>
                                <img src="http://goo.gl/jlzYUA" class="main-url-image" align="left" />

                                <div>
                                    <b>
                                        <span class="main-url-title">
                                            Hello World
                                        </span>
                                    </b>
                                </div>
                                <div class="main-url-description">
                                    Hello is a good word but world is not. Hello is a good word but world is not. Hello is a good word but world is not. Hello is a good word but world is not. Hello is a good word but world is not.
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="main-url-incoming-holder display-hide">
                    <div><b>Incoming links</b></div>
                    
                    <div class="url-incoming-content">
                        
                        <!-- For each incoming URL starts -->
                        <div class="row row-eq-height">
                            <div class="col-md-1">
                                <img src="http://goo.gl/eytjs7" width="16px" height="16px">
                            </div>
                            <div class="col-md-11">
                                <a href="#">
                                    CNN - Breaking News, U.S., World, Weather, Entertainment &amp; Video News
                                </a>
                            </div>
                        </div>
                        <!-- For each incoming URL ends -->

                    </div>

                </div>

                <div class="main-url-outgoing-holder display-hide">
                    <div><b>Outgoing links</b></div>

                    <div class="url-outgoing-content">

                        <!-- For each outgoing URL starts -->
                        <div class="row row-eq-height">
                            <div class="col-md-1">
                                <img src="http://goo.gl/eytjs7" width="16px" height="16px">
                            </div>
                            <div class="col-md-11">
                                <a href="#">
                                    CNN - Breaking News, U.S., World, Weather, Entertainment &amp; Video News
                                </a>
                            </div>
                        </div>
                        <!-- For each outgoing URL ends -->
                        
                    </div>
                </div>

            </div>

            <!-- Main content right ends -->

        </div>
    </div>

    <!-- Main content ends -->

</body>

</html>
